body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    background-color: #fbfbfb;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffffff; /* Barra blanca */
    box-shadow: 0 5px 5px rgba(255, 87, 185, 0.6);
    margin: 0 0px 0px 0px;
    border-radius: 0px 0px 20px 20px;
    background-color: #fbfbfb;

}

.balance-info {
    display: flex;
    align-items: center;
}

.wallet-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.balance {
    font-size: 16px;
    color: #333; /* Texto en color oscuro para contraste */
}

.search-bar {
    flex-grow: 1;
    padding: 8px 15px;
    border-radius: 25px;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
}

.search-bar::placeholder {
    color: #aaa; /* Color para el placeholder del buscador */
}


#quick-actions-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    background-color: #fbfbfb;
}

.action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.action-icon {
    width: 50px; /* Ajusta según el diseño */
    height: 50px; /* Asegúrate que las imágenes sean circulares */
    border-radius: 50%;
    margin-bottom: 8px;

}

.action-title {
    text-align: center;
    font-size: 12px;
}
